@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Space Grotesk";
}

.font-space {
  font-family: "Space Grotesk";
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff; /* white */
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
